html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; height: 100%; }

@font-face { font-family: "ProximaNova Bold"; src: url("fonts/ProximaNova-Bold.eot"); src: url("fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Regular"; src: url("fonts/ProximaNova-Regular.eot"); src: url("fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Regular Italic"; src: url("fonts/ProximaNova-RegularIt.eot"); src: url("fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-RegularIt.woff") format("woff"), url("fonts/ProximaNova-RegularIt.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Light"; src: url("fonts/ProximaNova-Light.eot"); src: url("fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Light.woff") format("woff"), url("fonts/ProximaNova-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a { text-decoration: none; }

.button { width: 100%; max-width: 377px; display: inline-block; position: relative; background: none; }
.button span { padding: 18px; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: Georgia, Arial, sans-serif; font-style: italic; color: #808184; font-size: 16.25px; letter-spacing: 0.15em; text-align: center; position: relative; z-index: 2; }
.button:before { position: absolute; top: 3px; left: 3px; right: -3px; bottom: -3px; content: ""; background: #bbbdbf; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; z-index: 1; }
.button:hover { text-decoration: none; }
.button:active span { top: 1px; }

.button_white span { background: white; }

.button_yellow span { background: #f3c918; color: white; }

.button_purple span { background: #c24f9c; color: white; }

input, textarea { border: 1px solid #adafb1; color: #58595b; font-size: 16.25px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input:-moz-placeholder, input::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder { color: #bbbdbf; opacity: 1; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #bbbdbf; }

.select { position: relative; text-align: center; font-size: 0; cursor: pointer; width: 100%; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; font-family: "ProximaNova Regular", Arial, sans-serif; border: 1px solid #bbbdbf; padding: 0 50px 0 20px; height: 62px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: left; }
.select:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 480px) { .select { padding: 0 40px 0 10px; height: 49px; } }
.select i { background: url('../img/icons-sf406935d63.png') 0 -5801px no-repeat; width: 25px; height: 15px; position: absolute; top: 10px; right: 20px; }
@media only screen and (max-width: 768px) { .select i { top: 10px; right: 10px; } }
@media only screen and (max-width: 480px) { .select i { top: 5px; } }
.select i:after { content: ""; background: url('../img/icons-sf406935d63.png') 0 -5776px no-repeat; width: 25px; height: 15px; position: absolute; top: 100%; margin-top: 10px; left: 0; }
@media only screen and (max-width: 1024px) { .select i:after { margin-top: 10px; } }
@media only screen and (max-width: 480px) { .select i:after { margin-top: 5px; } }

.select__text { position: relative; display: inline-block; vertical-align: middle; font-size: 20.89px; color: #bbbdbf; letter-spacing: 0.15em; font-family: "ProximaNova Regular", Arial, sans-serif; overflow: hidden; width: 100%; height: 30px; }

.select__list { position: absolute; display: none; top: 100%; margin-top: 1px; left: -1px; right: -1px; z-index: 100; overflow: hidden; border: 1px solid #bbbdbf; border-top: none; }
.select__list li { cursor: pointer; font-size: 20.89px; color: #bbbdbf; letter-spacing: 0.15em; font-family: "ProximaNova Regular", Arial, sans-serif; padding: 10px 20px; background: white; }
.select__list li:hover { background: #cccccc; color: white; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.out { height: 100%; min-width: 320px; }
.out.page-in { min-height: 825px; position: relative; }
@media only screen and (max-width: 1200px) { .out.page-in { height: auto; } }
.out.sign-p { min-height: 100%; height: auto; position: relative; background: #c24f9c; }
@media only screen and (max-width: 1200px) { .out.sign-p { height: auto; } }
.out.in-p { min-height: 100%; height: auto; position: relative; }

.green-filter:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/green-overlay.png); }

.purple-filter { height: 100%; }
@media only screen and (max-width: 1024px) { .purple-filter { height: auto; min-height: 0px; } }
.purple-filter:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/purple-overlay.png); }

.section { height: 100%; min-height: 800px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .section { height: auto; padding-top: 20px; padding-bottom: 20px; min-height: 0px; } }
.section__inner { width: 100%; margin: 0 auto; text-align: center; }
.section p { font-size: 18.75px; letter-spacing: 0.15em; color: white; font-family: "ProximaNova Regular", Arial, sans-serif; max-width: 600px; margin: 0 auto 20px; }
.section h4 { font-family: Georgia, Arial, sans-serif; font-style: italic; font-size: 18.75px; letter-spacing: 0.15em; color: white; margin-bottom: 25px; }
.section-second { background: #f3c918; height: 100%; }
@media only screen and (max-width: 1024px) { .section-second { height: auto; min-height: 0px; } }
.section-third { background: #f06461; height: 100%; }
@media only screen and (max-width: 1024px) { .section-third { height: auto; min-height: 0px; } }
.section-fourth { background: url(../img/section-fourth.jpg) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 100%; }
@media only screen and (max-width: 1024px) { .section-fourth { height: auto; min-height: 0px; } }
.section-fifth { background: white; height: 100%; }
@media only screen and (max-width: 1024px) { .section-fifth { height: auto; } }
.section-signin { background: #c24f9c; height: auto; padding: 90px 15px 180px 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.section-signin h1 { font-size: 64px; font-family: Georgia, Arial, sans-serif; color: white; letter-spacing: 0.15em; font-style: italic; margin-bottom: 15px; }
@media only screen and (max-width: 1024px) { .section-signin h1 { font-size: 40px; } }
.section-signin p { font-size: 31.25px; color: white; letter-spacing: 0.05em; max-width: 100%; font-size: 24px; }
.section-first { background: url(../img/section-first.jpg) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; padding: 12px 15px 12px 15px; }
.section-first:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/green-overlay.png); }
.section-first h1 { font-size: 30px; font-family: Georgia, Arial, sans-serif; font-style: italic; letter-spacing: 0.15em; color: white; margin-bottom: 35px; }
.section-first .section__inner { padding-top: 40px; }
.section-login { padding: 12px 15px 30px 15px; height: auto; min-height: 100%; }

.lang { text-align: center; font-size: 0; width: 132px; height: 58px; background: white; position: absolute; bottom: 315px; left: 0; z-index: 99; }
.lang:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1024px) { .lang { display: inline-block; position: relative; bottom: auto; left: auto; margin-top: 20px; } }
.lang ul { display: inline-block; vertical-align: middle; }
.lang li { display: inline-block; padding: 0 12px; }
.lang a { font-size: 17px; letter-spacing: 0.15em; color: #01a69e; font-family: "ProximaNova Regular", Arial, sans-serif; display: inline-block; vertical-align: middle; text-transform: uppercase; }
.lang a:hover { text-decoration: underline; }
.lang:after { content: ""; position: absolute; top: 50%; left: 50%; margin-top: -8px; margin-left: -1px; height: 17px; width: 1px; background: #01a69e; }

.login { float: right; *zoom: 1; width: 100%; max-width: 380px; text-align: center; }
.login:after { content: " "; display: table; clear: both; }
.login .button { display: block; margin-bottom: 20px; }
.login__forgot { font-size: 12.53px; font-family: "ProximaNova Bold", Arial, sans-serif; color: white; letter-spacing: 0.15em; display: inline-block; margin-top: 5px; background: none; }
.login__forgot:hover { text-decoration: underline; color: white; }
.login__input { position: relative; display: block; margin-bottom: 20px; }
.login__input .log-ico { display: block; position: absolute; top: 50%; }
.login__input input { width: 100%; padding: 18px 18px 18px 60px; height: auto !important; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; color: white; background: none; border: 2px solid white; }
.login__input input:-moz-placeholder, .login__input input::-moz-placeholder { color: white; opacity: 1; }
.login__input input::-webkit-input-placeholder { color: white; }
.login__input .glyphicon { top: 50% !important; margin-top: -17px; font-size: 30px; right: 10px; }
.login__input small { height: 0 !important; display: none !important; }
.login__username .log-ico { left: 10px; margin-top: -19px; background: url('../img/icons-sf406935d63.png') 0 -5252px no-repeat; width: 33px; height: 37px; }
.login__password .log-ico { left: 12px; margin-top: -20px; background: url('../img/icons-sf406935d63.png') 0 -4839px no-repeat; width: 30px; height: 40px; }

.logo { margin-bottom: 30px; display: inline-block; width: 100%; max-width: 382px; }
.logo img { width: 100%; }

.line-white { display: inline-block; width: 53px; height: 7px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: white; margin-bottom: 35px; }

.more { font-family: Georgia, Arial, sans-serif; font-style: italic; color: white; font-size: 18.75px; letter-spacing: 0.15em; text-align: center; display: inline-block; margin-top: 50px; }
.more span { display: inline-block; margin-bottom: 55px; }
.more .arr-bot { background: url('../img/icons-sf406935d63.png') 0 0 no-repeat; width: 53px; height: 32px; display: block; margin: 0 auto; }
.more:hover { color: white; text-decoration: none; }

.vertical { text-align: center; font-size: 0; height: 100%; }
.vertical:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.middle { display: inline-block; width: 100%; vertical-align: middle; float: none; }

.top-nav { padding: 10px 15px 13px 15px; background: white; text-align: justify; font-size: 0.1px; word-spacing: 0px; }
.top-nav:after { content: ""; width: 100%; display: inline-block; }
@media only screen and (max-width: 768px) { .top-nav { text-align: center; } }
.top-nav .button { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 768px) { .top-nav .button { display: block; margin: 0 auto 20px; } }

.k-logo { display: inline-block; vertical-align: middle; margin-top: 3px; }

.icons-block { max-width: 640px; float: none; margin: 0 auto; }

.icons { height: 200px; text-align: center; font-size: 0; }
.icons:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.icons a { display: inline-block; vertical-align: middle; }
.icons i { display: inline-block; }

.tweet i { background: url('../img/icons-sf406935d63.png') 0 -6203px no-repeat; width: 168px; height: 129px; }

.database i { background: url('../img/icons-sf406935d63.png') 0 -3078px no-repeat; width: 130px; height: 128px; }

.tasks i { background: url('../img/icons-sf406935d63.png') 0 -6083px no-repeat; width: 122px; height: 110px; }

.email i { background: url('../img/icons-sf406935d63.png') 0 -4009px no-repeat; width: 135px; height: 105px; }

.mouse i { background: url('../img/icons-sf406935d63.png') 0 -5011px no-repeat; width: 90px; height: 140px; }

.cal i { background: url('../img/icons-sf406935d63.png') 0 -2548px no-repeat; width: 128px; height: 128px; }

.social i { background: url('../img/icons-sf406935d63.png') 0 -5881px no-repeat; width: 103px; height: 99px; }

.mouse-small i { background: url('../img/icons-sf406935d63.png') 0 -4889px no-repeat; width: 72px; height: 112px; }

.tasks-small i { background: url('../img/icons-sf406935d63.png') 0 -5990px no-repeat; width: 94px; height: 83px; }

.cloud i { background: url('../img/icons-sf406935d63.png') 0 -2686px no-repeat; width: 123px; height: 91px; }

.email-small i { background: url('../img/icons-sf406935d63.png') 0 -3915px no-repeat; width: 108px; height: 84px; }

.cal-small i { background: url('../img/icons-sf406935d63.png') 0 -2436px no-repeat; width: 103px; height: 102px; }

.info { padding: 30px 0 0 0; }

.contacts { max-width: 800px; margin: 0 auto; }
.contacts__item { text-align: center; margin-bottom: 90px; }
.contacts__icon { height: 90px; text-align: center; font-size: 0; margin-bottom: 30px; }
.contacts__icon:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.contacts__icon a { display: inline-block; vertical-align: middle; }
.contacts__email { background: url('../img/icons-sf406935d63.png') 0 -2894px no-repeat; width: 68px; height: 68px; }
.contacts__map { background: url('../img/icons-sf406935d63.png') 0 -2972px no-repeat; width: 44px; height: 69px; }
.contacts__call { background: url('../img/icons-sf406935d63.png') 0 -2817px no-repeat; width: 68px; height: 67px; }
.contacts__title { font-size: 18.75px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; color: #bbbdbf; display: inline-block; }

.footer-absolute { position: absolute; bottom: 0; right: 0; left: 0; }
@media only screen and (max-width: 1200px) { .footer-absolute { position: static; bottom: auto; left: auto; right: auto; } }
.footer__inner { padding: 17px 15px 33px 15px; text-align: justify; font-size: 0.1px; word-spacing: 0px; background: white; }
.footer__inner:after { content: ""; width: 100%; display: inline-block; }
.footer__left { display: inline-block; vertical-align: middle; }
.footer__copyright { display: inline-block; vertical-align: middle; background: url('../img/icons-sf406935d63.png') 0 -3051px no-repeat; width: 134px; height: 17px; }
@media only screen and (max-width: 480px) { .footer__copyright { display: block; margin: 20px 0 0 0; } }
.footer__nav { text-align: center; font-size: 0; }
.footer__nav:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.footer__nav .share { background: url('../img/icons-sf406935d63.png') 0 -5826px no-repeat; width: 42px; height: 45px; display: block; }
.footer__nav li { display: inline-block; vertical-align: middle; margin-right: 30px; }
.footer__nav a { font-size: 16.25px; letter-spacing: 0.15em; font-family: "ProximaNova Regular", Arial, sans-serif; color: #bbbdbf; }
.footer__nav a:hover { text-decoration: underline; }

.form-in { width: 85%; float: none; margin: 70px auto 0; max-width: 1400px; }
@media only screen and (max-width: 600px) { .form-in { width: 100%; } }
.form-in form { position: relative; }
.form-in form:before { content: ""; position: absolute; top: 7px; left: 6px; right: -6px; bottom: -7px; background: #bbbdbf; }
.form-in__inner { background: white; text-align: justify; font-size: 0.1px; word-spacing: 0px; padding: 5%; position: relative; }
.form-in__inner:after { content: ""; width: 100%; display: inline-block; }
@media only screen and (max-width: 1024px) { .form-in__inner { text-align: center; padding: 10%; } }
@media only screen and (max-width: 600px) { .form-in__inner { padding: 20px 30px; } }
.form-in__title { font-size: 20.89px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; color: #c24f9c; text-transform: uppercase; margin-bottom: 15px; display: block; text-align: left; }
.form-in__label { display: inline-block; width: 45%; max-width: 600px; text-align: left; margin-bottom: 30px; vertical-align: top; }
@media only screen and (max-width: 1024px) { .form-in__label { width: 100%; } }
.form-in__label input { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 15px; font-size: 20.89px; color: black; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; border: 1px solid #bbbdbf; height: auto !important; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
@media only screen and (max-width: 480px) { .form-in__label input { padding: 10px; } }
.form-in__label .glyphicon { font-size: 30px; top: auto !important; bottom: 15px !important; right: 10px; }
@media only screen and (max-width: 480px) { .form-in__label .glyphicon { bottom: 10px !important; } }
.form-in__label small { height: 0 !important; display: none !important; }
.form-in .button { float: right; margin-top: 10px; }
.form-in .button span { font-size: 20.89px; padding: 20px; }
@media only screen and (max-width: 480px) { .form-in .button span { padding: 15px; } }

.navigation { position: absolute; top: 0; left: 0; right: 0; min-height: 60px; }
@media only screen and (max-width: 1200px) { .navigation { position: static; top: auto; left: auto; right: auto; } }
.navigation__left { background: #a5496f; padding: 10px 15px 10px 15px; height: 57px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 0.1px; word-spacing: 0px; -moz-transition: background 0.5s; -o-transition: background 0.5s; -webkit-transition: background 0.5s; transition: background 0.5s; text-align: justify; }
.navigation__left_mod { background: #c24f9c; }
.navigation__left_mod .navigation__title { font-size: 16.25px; padding: 7px 0 0 15px; }
.navigation__left_mod .navigation__button { margin: 7px 30px 0 0; }
.navigation__left.is-active { background: #efefef; }
.navigation__left.is-active .navigation__title { color: #c24f9c; }
.navigation__left:after { content: ""; width: 100%; height: 1px; display: inline-block; }
@media only screen and (max-width: 600px) { .navigation__left { height: auto; padding: 20px 15px 20px 15px; } }
.navigation__title { font-family: Georgia, Arial, sans-serif; font-style: italic; color: white; font-size: 27.08px; letter-spacing: 0.15em; display: inline-block; vertical-align: middle; padding: 0 0 0 15px; -moz-transition: color 0.5s; -o-transition: color 0.5s; -webkit-transition: color 0.5s; transition: color 0.5s; }
@media only screen and (max-width: 600px) { .navigation__title { font-size: 20px; padding: 0; } }
.navigation__button { background: url('../img/icons-sf406935d63.png') 0 -5193px no-repeat; width: 28px; height: 22px; display: inline-block; vertical-align: middle; margin: 0 30px 0 0; position: relative; }
@media only screen and (max-width: 600px) { .navigation__button { background: url(../img/icons/navigation-btn.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-position: top center; width: 37px; height: 30px; margin: 0; } }
.navigation__button:active { top: 1px; }
.navigation__button.is-active { background: url('../img/icons-sf406935d63.png') 0 -5161px no-repeat; width: 28px; height: 22px; }
@media only screen and (max-width: 600px) { .navigation__button.is-active { background: url(../img/icons/navigation-btn-active.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-position: top center; width: 37px; height: 30px; } }
.navigation__search { text-align: center; font-size: 0; text-align: left; position: relative; padding-left: 30px; height: 57px; }
.navigation__search:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 600px) { .navigation__search { padding: 15px 15px 15px; height: auto; } }
.navigation .search__icon { position: absolute; top: 50%; left: 30px; margin-top: -20px; background: url('../img/icons-sf406935d63.png') 0 -5735px no-repeat; width: 31px; height: 31px; }
@media only screen and (max-width: 600px) { .navigation .search__icon { left: 15px; } }
.navigation .search__input { display: inline-block; vertical-align: middle; position: relative; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "ProximaNova Regular", Arial, sans-serif; border: none; letter-spacing: 0.075em; background: none; font-size: 18px; padding: 10px 15px 10px 50px; }
.navigation .search__input:-moz-placeholder, .navigation .search__input::-moz-placeholder { color: rgba(187, 189, 191, 0.5); opacity: 1; }
.navigation .search__input::-webkit-input-placeholder { color: rgba(187, 189, 191, 0.5); }
@media only screen and (max-width: 480px) { .navigation .search__input { font-size: 16px; } }
.navigation__logo { text-align: center; font-size: 0; text-align: right; height: 57px; }
.navigation__logo:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 600px) { .navigation__logo { height: auto; } }
.navigation__logo a { margin-right: 30px; margin-top: 7px; margin-bottom: 7px; display: inline-block; vertical-align: middle; width: 100%; max-width: 200px; }
.navigation__logo a img { width: 100%; }
@media only screen and (max-width: 600px) { .navigation__logo a { margin: 15px 15px 15px; } }

.board { height: 100%; padding: 57px 15px 95px 15px; min-height: 825px; }
@media only screen and (max-width: 1200px) { .board { min-height: 0; padding: 0 15px 0 15px; } }
.board__inner { height: 100%; }
.board__item { height: 100%; text-align: center; font-size: 0; min-height: 600px; }
.board__item:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1200px) { .board__item { height: 470px; padding-top: 30px; padding-bottom: 30px; } }
.board__item.is-mail { background: #b576a5; }
.board__item.is-tasks { background: #b2678a; }
.board__item.is-datacenter { background: #d1695e; }
.board__item.is-calendar { background: #ea9d4f; }
.board__item.is-social { background: #ecbe55; }
.board__item.is-virtual { background: #e5b944; }
.board__item.is-mail_pounch { background: #5bbd82; }
.board__item.is-tasks_pounch { background: #86c884; }
.board__item.is-datacenter_pounch { background: #6ac3a3; }
.board__item.is-calendar_pounch { background: #58c1b5; }
.board__item.is-social_pounch { background: #2096a3; }
.board__item.is-virtual_pounch { background: #245477; }
.board__info { display: inline-block; vertical-align: middle; height: 470px; width: 100%; overflow: hidden; }
@media only screen and (max-width: 1200px) { .board__info { height: auto; } }
.board__icon { max-width: 295px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; position: relative; width: 80%; margin: 0 auto 90px; padding-top: 20px; }
.board__icon img { width: 100%; }
.board__sticker { position: absolute; top: 0px; right: 3px; width: 80px; height: 80px; background: #f06461; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; text-align: center; font-size: 0; display: none; }
.board__sticker:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1600px) { .board__sticker { width: 60px; height: 60px; } }
@media only screen and (max-width: 1200px) { .board__sticker { width: 80px; height: 80px; } }
.board__sticker.is-active { display: block; }
.board__sticker span { font-size: 43.75px; font-family: "ProximaNova Regular", Arial, sans-serif; color: white; display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 1600px) { .board__sticker span { font-size: 36px; } }
@media only screen and (max-width: 1200px) { .board__sticker span { font-size: 43.75px; } }
.board__title { font-size: 22px; font-family: "ProximaNova Regular", Arial, sans-serif; color: white; letter-spacing: 0.15em; text-transform: uppercase; height: 70px; }
@media only screen and (max-width: 1200px) { .board__title { font-size: 18px; } }
@media only screen and (max-width: 768px) { .board__title { font-size: 26px; } }
.board__text { font-size: 20px; font-family: Georgia, Arial, sans-serif; font-style: italic; letter-spacing: 0.15em; color: white; overflow: hidden; width: 100%; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
@media only screen and (max-width: 1200px) { .board__text { font-size: 16px; } }
@media only screen and (max-width: 768px) { .board__text { font-size: 24px; } }

.dropdown { position: absolute; left: 0; top: 100%; right: 0; z-index: 999; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
.dropdown.is-open { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.dropdown li a { display: block; background: #efefef; margin-top: 2px; text-align: center; font-size: 0; padding: 10px 25px 10px 30px; text-align: left; }
.dropdown li a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.dropdown li a i { display: inline-block; vertical-align: middle; width: 47px; height: 47px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-right: 20px; }
@media only screen and (max-width: 600px) { .dropdown li a i { width: 40px; height: 40px; } }
.dropdown li a i.is-virtual { background: url(../img/icons/dd-mouse.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.dropdown li a i.is-cal { background: url(../img/icons/dd-cal.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.dropdown li a i.is-datacenter { background: url(../img/icons/dd-cloud.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.dropdown li a i.is-mail { background: url(../img/icons/dd-mail.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.dropdown li a i.is-tasks { background: url(../img/icons/dd-tasks.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.dropdown li a i.is-social { background: url(../img/icons/dd-social.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.dropdown li a i.is-settings { background: url(../img/icons/dd-settings.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.dropdown li a span { display: inline-block; vertical-align: middle; font-size: 14px; font-family: Georgia, Arial, sans-serif; font-style: italic; letter-spacing: 0.15em; color: #404041; }
.dropdown__back { background: #efefef; padding: 20px 25px 25px 30px; margin-top: 3px; text-align: right; }
.dropdown__back a { text-align: center; font-size: 0; }
.dropdown__back a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.dropdown__back a .arr-back { display: inline-block; vertical-align: middle; width: 27px; height: 27px; background: url(../img/icons/dd-arr.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-left: 15px; }
.dropdown__back a span { display: inline-block; vertical-align: middle; font-size: 14px; font-family: Georgia, Arial, sans-serif; font-style: italic; color: #f06461; }

@media only screen and (max-width: 768px) { .sidebar { padding-bottom: 50px; } }
.sidebar__menu { margin-bottom: 25px; }
.sidebar__menu li { padding-top: 2px; }
.sidebar__menu li a { display: block; padding: 0px 20px 0px 20px; height: 67px; text-align: center; font-size: 0; text-align: left; }
.sidebar__menu li a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.sidebar__menu li a.is-active { background: #f2f3f3; }
.sidebar__menu li a.is-active span { color: #404041; text-transform: none; font-family: Georgia, Arial, sans-serif; font-style: italic; }
.sidebar__menu li a.is-active:hover { background: #f2f3f3; }
.sidebar__text { text-transform: uppercase; font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 16.25px; letter-spacing: 0.15em; color: white; display: inline-block; vertical-align: middle; }
.sidebar__icon { display: inline-block; vertical-align: middle; width: 52px; margin-right: 20px; text-align: center; font-size: 0; }
.sidebar__icon:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.sidebar__icon.is-active { width: 47px; height: 47px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin-right: 25px; }
.sidebar__icon.is-acc { background: #c24f9c; }
.sidebar__icon.is-soc { background: #e78c41; }
.sidebar__icon i { display: inline-block; vertical-align: middle; }
.sidebar__icon i.is-prof { background: url('../img/icons-sf406935d63.png') 0 -4458px no-repeat; width: 40px; height: 44px; }
.sidebar__icon i.is-edit { background: url('../img/icons-sf406935d63.png') 0 -4263px no-repeat; width: 44px; height: 50px; }
.sidebar__icon i.is-avatar { background: url('../img/icons-sf406935d63.png') 0 -4124px no-repeat; width: 41px; height: 31px; }
.sidebar__icon i.is-customize { background: url('../img/icons-sf406935d63.png') 0 -4165px no-repeat; width: 31px; height: 31px; }
.sidebar__icon i.is-friends { background: url('../img/icons-sf406935d63.png') 0 -4323px no-repeat; width: 51px; height: 41px; }
.sidebar__icon i.is-settings { background: url('../img/icons-sf406935d63.png') 0 -4553px no-repeat; width: 21px; height: 21px; }
.sidebar__icon i.is-network { background: url('../img/icons-sf406935d63.png') 0 -4374px no-repeat; width: 18px; height: 17px; }
.sidebar__icon i.is-stream { background: url('../img/icons-sf406935d63.png') 0 -4584px no-repeat; width: 45px; height: 46px; }
.sidebar__icon i.is-sync { background: url('../img/icons-sf406935d63.png') 0 -4640px no-repeat; width: 39px; height: 41px; }
.sidebar__icon i.is-set { background: url('../img/icons-sf406935d63.png') 0 -4512px no-repeat; width: 35px; height: 31px; }
.sidebar__icon i.is-post { background: url('../img/icons-sf406935d63.png') 0 -4401px no-repeat; width: 34px; height: 47px; }
.sidebar__icon i.is-edit-ac { margin-left: 8px; background: url('../img/icons-sf406935d63.png') 0 -4206px no-repeat; width: 47px; height: 47px; }
.sidebar__icon:hover { text-decoration: none; }
.sidebar__title, .sidebar__label { font-size: 16.25px; letter-spacing: 0.15em; font-family: "ProximaNova Regular", Arial, sans-serif; color: #bbbdbf; display: block; padding: 0 18px 0 18px; margin-bottom: 20px; text-transform: uppercase; }
.sidebar__row { border-top: 1px solid #bbbdbf; }
.sidebar__box { border: 1px solid #bbbdbf; border-top: none; text-align: center; font-size: 0; text-align: left; height: 84px; }
.sidebar__box:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.sidebar__box_mod { border: none; background: #f1f2f2; }
.sidebar__label { line-height: 45px; padding: 0; margin: 0; display: inline-block; text-transform: none; vertical-align: middle; }
.sidebar .colors { font-size: 0px; padding: 0 24px 0 20px; display: inline-block; vertical-align: middle; }
.sidebar .colors li { display: inline-block; padding: 4px; }
.sidebar .colors a { display: block; width: 20px; height: 20px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.sidebar .colors a.is-one { background: #6ac3a3; }
.sidebar .colors a.is-two { background: #58c1b5; }
.sidebar .colors a.is-three { background: #2096a3; }
.sidebar .colors a.is-four { background: #245477; }
.sidebar .colors a.is-five { background: #e5b944; }
.sidebar .colors a.is-six { background: #ea9d4f; }
.sidebar .colors a.is-seven { background: #d1695e; }
.sidebar .colors a.is-eight { background: #b576a5; }
.sidebar .colors a.is-nine { background: #f06461; }
.sidebar .colors a.is-ten { background: #c24f9c; }
.sidebar .colors a.is-eleven { background: #00a6cb; }
.sidebar .colors a.is-twelve { background: #01a69e; }

@media only screen and (max-width: 768px) { .content { padding-bottom: 50px; } }
.content form { padding: 0 4% 0 6%; width: 100%; }
.content__form { text-align: justify; font-size: 0.1px; padding-top: 67px; }
@media only screen and (max-width: 768px) { .content__form { padding-top: 0; } }
.content__form:after { content: ""; display: inline-block; width: 100%; }
.content__form .form-group { display: inline-block; vertical-align: top; width: 46%; margin-bottom: 50px; }
@media only screen and (max-width: 1200px) { .content__form .form-group { width: 100%; display: block; margin: 0 auto 50px; } }
.content .form-in__title { font-size: 12.53px; margin-bottom: 20px; }
.content__button { text-align: center; font-size: 0; text-align: right; }
.content__button:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.content__button i { display: inline-block; vertical-align: middle; background: url('../img/icons-sf406935d63.png') 0 -5612px no-repeat; width: 44px; height: 44px; }
.content__button button { display: inline-block; vertical-align: middle; margin-left: 13px; max-width: 193px; }

.is-account .sidebar__menu a { background: #c24f9c; }
.is-account .sidebar__menu a:hover { background: #ce72b0; }

.is-social .sidebar__menu a { background: #e78c41; }
.is-social .sidebar__menu a:hover { background: #eca367; }

.box { margin-bottom: 50px; position: relative; padding-top: 5px; }
.box-wrap { padding-top: 67px; }
@media only screen and (max-width: 768px) { .box-wrap { padding-top: 0; } }
.box__top { border-bottom: 1px solid #a0a1a3; padding-right: 40px; padding-bottom: 17px; margin-bottom: 35px; }
.box__title { font-size: 16.25px; font-family: "ProximaNova Regular", Arial, sans-serif; color: #58595b; letter-spacing: 0.15em; text-transform: uppercase; }
.box__button { position: absolute; top: 0; right: 0; cursor: pointer; z-index: 99; }
.box__button.is-close { background: url('../img/icons-sf406935d63.png') 0 -2237px no-repeat; width: 29px; height: 29px; }
.box__button.is-open { background: url('../img/icons-sf406935d63.png') 0 -1893px no-repeat; width: 29px; height: 29px; }
.box__social { font-size: 0px; }
.box__social li { display: inline-block; padding-right: 4px; padding-bottom: 4px; vertical-align: top; }
.box__social a { display: block; text-align: center; font-size: 0; }
.box__social a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.box__social span { display: inline-block; }
.box__social .is-twitter { background: url('../img/icons-sf406935d63.png') 0 -2310px no-repeat; width: 83px; height: 80px; }
.box__social .is-facebook { background: url('../img/icons-sf406935d63.png') 0 -1932px no-repeat; width: 83px; height: 80px; }
.box__social .is-google { background: url('../img/icons-sf406935d63.png') 0 -2058px no-repeat; width: 79px; height: 80px; }
.box__social .is-linkedin { background: url('../img/icons-sf406935d63.png') 0 -2148px no-repeat; width: 83px; height: 79px; }
.box__accounts { font-size: 0px; }
.box__accounts li { display: inline-block; vertical-align: top; padding-right: 4px; padding-bottom: 4px; }
.box__accounts li a { display: block; text-align: center; font-size: 0; background: #e78c41; padding: 20px 10px; height: 80px; position: relative; }
.box__accounts li a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.box__accounts li a.is-grey { background: #bbbdbf; }
.box__accounts li span { display: inline-block; vertical-align: middle; font-size: 16.44px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; color: white; }
.box__accounts li .box__icon { display: inline-block; vertical-align: middle; margin-right: 10px; }
.box__accounts li .box__icon.is-twitter { background: url('../img/icons-sf406935d63.png') 0 -2276px no-repeat; width: 28px; height: 24px; }
.box__accounts li .box__icon.is-fb { background: url('../img/icons-sf406935d63.png') 0 -2022px no-repeat; width: 12px; height: 26px; }
.box__accounts li .box__icon.is-vimeo { background: url('../img/icons-sf406935d63.png') 0 -2400px no-repeat; width: 29px; height: 26px; }
.box__accounts li .is-close { position: absolute; top: 8px; right: 8px; background: url('../img/icons-sf406935d63.png') 0 -1872px no-repeat; width: 11px; height: 11px; cursor: pointer; }
.box-open .box__title { color: #e78c41; }

.items__top { margin: 0 35px 30px 35px; font-size: 0px; }
@media only screen and (max-width: 480px) { .items__top { margin: 0 0 30px; } }
.items__title, .items a { display: inline-block; vertical-align: top; color: #58595b; font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 16.25px; letter-spacing: 0.15em; }
.items__title { margin-right: 50px; margin-bottom: 15px; }
@media only screen and (max-width: 768px) { .items__title { margin-right: 20px; } }
.items__list { display: inline-block; }
.items__list li { display: inline-block; padding: 0 18px; }
@media only screen and (max-width: 768px) { .items__list li { padding: 0 30px 0 0; } }
.items__list a { color: #e78c41; padding: 0 3px 13px 3px; display: block; }
.items__list a:hover { text-decoration: none; }
.items__list a.is-active { border-bottom: 3px solid #e78c41; }

.item { position: relative; background: white; }
.item-wrap { margin: 0 5% 14% 5%; position: relative; }
@media only screen and (max-width: 480px) { .item-wrap { margin: 0 0 30px 0; } }
.item-wrap:before { position: absolute; top: 3px; left: 5px; right: -5px; bottom: -6px; content: ""; background: #bbbdbf; }
.item__inner { padding: 38px 36px 38px 32px; border: 1px solid #f1f1f2; border-bottom: none; }
.item p { font-size: 17.78px; line-height: 28.73px; letter-spacing: 0.15em; color: #808184; font-family: "ProximaNova Regular", Arial, sans-serif; }
.item p strong { font-family: "ProximaNova Bold", Arial, sans-serif; font-weight: normal; }
.item__link { display: block; }
.item__bottom { padding: 22px 30px 22px 26px; }
.item__bottom.is-azure { background: #2aa9e0; }
.item__bottom.is-red { background: #db5442; }
.item__bottom.is-blue { background: #36609f; }
.item__left { padding-right: 120px; text-align: center; font-size: 0; text-align: left; }
.item__left:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.item__right { float: right; height: 42px; text-align: center; font-size: 0; }
.item__right:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.item__name { font-family: Georgia, Arial, sans-serif; font-size: 16.25px; font-style: italic; letter-spacing: 0.15em; color: white; display: inline-block; vertical-align: middle; }
.item__date { font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 17.78px; letter-spacing: 0.15em; color: white; display: inline-block; vertical-align: middle; }
.item__icon { display: inline-block; vertical-align: middle; width: 70px; text-align: center; font-size: 0; text-align: left; height: 42px; }
.item__icon:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.item__icon i { display: inline-block; vertical-align: middle; }
.item__icon i.item__twitter { background: url('../img/icons-sf406935d63.png') 0 -4794px no-repeat; width: 40px; height: 35px; }
.item__icon i.item__fb { background: url('../img/icons-sf406935d63.png') 0 -4691px no-repeat; width: 21px; height: 42px; }
.item__icon i.item__google { background: url('../img/icons-sf406935d63.png') 0 -4743px no-repeat; width: 41px; height: 41px; }
.item__img { margin-bottom: 30px; overflow: hidden; }
.item__img img { width: 100%; }

.overlay { background: #e78c41; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69); opacity: 0.69; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; display: none; }
.overlay.is-open { display: block; }

.js-popups { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; text-align: center; font-size: 0; overflow: auto; min-width: 320px; display: none; }
.js-popups:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.js-popups.is-open { display: block; }

.modal-lg { max-width: 725px; border: none; }

.popup { max-width: 725px; border: none; width: 100%; -moz-border-radius: 0px !important; -webkit-border-radius: 0px; border-radius: 0px !important; }
.popup.is-open { display: inline-block; }
.popup .close { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.popup__close { position: absolute; width: 39px; height: 39px; border: 2px solid white; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; top: 20px; right: 19px; text-align: center; font-size: 0; cursor: pointer; }
.popup__close:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup__close i { display: inline-block; vertical-align: middle; background: url('../img/icons-sf406935d63.png') 0 -1872px no-repeat; width: 11px; height: 11px; }
.popup__top { background: #e78c41; height: 79px; text-align: center; font-size: 0; text-align: left; padding: 0 65px 0 24px; }
.popup__top:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup__heading, .popup__title { display: inline-block; vertical-align: middle; font-size: 16.25px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; color: white; }
.popup__title { margin-bottom: 25px; display: block; color: #e78c41; text-align: left; }
.popup__inner { padding: 22px 22px 0 22px; text-align: left; }
.popup__list { font-size: 0px; text-align: center; margin-bottom: 20px; padding-top: 20px; }
.popup__list li { display: inline-block; vertical-align: top; padding: 2px; }
.popup__list a { display: block; margin: 0 auto; }
.popup__list a.popup-twitter { background: url('../img/icons-sf406935d63.png') 0 -2310px no-repeat; width: 83px; height: 80px; }
.popup__list a.popup-facebook { background: url('../img/icons-sf406935d63.png') 0 -1932px no-repeat; width: 83px; height: 80px; }
.popup__list a.popup-google { background: url('../img/icons-sf406935d63.png') 0 -2058px no-repeat; width: 79px; height: 80px; }
.popup__list a.popup-linkedin { background: url('../img/icons-sf406935d63.png') 0 -2148px no-repeat; width: 83px; height: 79px; }
.popup .select { max-width: 340px; margin: 0 auto 25px; height: 58px; }
.popup .select i { background: url('../img/icons-sf406935d63.png') 0 -5318px no-repeat; width: 15px; height: 9px; top: 12px; right: 14px; }
.popup .select i:after { background: url('../img/icons-sf406935d63.png') 0 -5299px no-repeat; width: 15px; height: 9px; margin-top: 14px; }
.popup .select__text { color: #58595b; font-size: 16.25px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; height: auto; }
.popup .select__list li { color: #58595b; font-size: 16.25px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; }
.popup .select__list li:hover { color: white; background: #e78c41; }
.popup__bottom { text-align: right; padding-bottom: 22px; }
.popup__button { background: none !important; color: #e78c41 !important; font-size: 16.25px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; margin-left: 25px !important; border: none !important; outline: none !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; padding: 0; }
.popup__button:hover { text-decoration: underline; background: none; color: #e78c41; }
.popup__button_mod { color: #bbbdbf !important; }
.popup__button_mod:hover { color: #bbbdbf; }
.popup textarea, .popup input { width: 100%; padding: 18px 22px; }
.popup textarea { height: 110px; resize: none; margin-bottom: 20px; }
.popup input { max-width: 295px; display: inline-block; }
.popup__links { display: inline-block; }
.popup__bottom_mod { text-align: justify; font-size: 0.1px; word-spacing: 0px; }
.popup__bottom_mod:after { content: ""; width: 100%; display: inline-block; }
.popup__bottom_mod input { vertical-align: middle; margin-bottom: 22px; }
.popup__bottom_mod ul { display: inline-block; vertical-align: middle; text-align: center; font-size: 0; margin-bottom: 22px; }
.popup__bottom_mod ul:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup__bottom_mod li { display: inline-block; vertical-align: middle; padding: 0 13px; }
.popup__bottom_mod i { display: block; }
.popup__bottom_mod i.is-geo { background: url('../img/icons-sf406935d63.png') 0 -5437px no-repeat; width: 27px; height: 42px; }
.popup__bottom_mod i.is-image { background: url('../img/icons-sf406935d63.png') 0 -5537px no-repeat; width: 38px; height: 38px; }
.popup__bottom_mod i.is-calendar { background: url('../img/icons-sf406935d63.png') 0 -5337px no-repeat; width: 38px; height: 38px; }
.popup__bottom_mod i.is-geo_grey { background: url('../img/icons-sf406935d63.png') 0 -5385px no-repeat; width: 27px; height: 42px; }
.popup__bottom_mod i.is-image_grey { background: url('../img/icons-sf406935d63.png') 0 -5489px no-repeat; width: 38px; height: 38px; }
.popup__buttons { display: inline-block; vertical-align: middle; margin-bottom: 22px; }
.popup_left { text-align: left; }
.popup_left input { margin-right: 20px; }
.popup hr { border-top: 1px solid #dddedf; border-bottom: 1px solid #eeeeef; border-left: none; border-right: none; width: 100%; margin: 0; }
.popup__date { text-align: center; font-size: 0; text-align: left; padding-bottom: 15px; }
.popup__date:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup__date div { display: inline-block; vertical-align: middle; text-align: center; font-size: 0; vertical-align: top; }
.popup__date div:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup__date label { color: #58595b; font-size: 16.25px; font-family: "ProximaNova Regular", Arial, sans-serif; letter-spacing: 0.15em; display: inline-block; vertical-align: middle; margin: 0 20px 10px 10px; }
.popup__date input { margin-right: 10px; margin-bottom: 10px; font-size: 16.25px; color: #58595b; }
.popup__date .glyphicon { font-size: 20px; top: 3px !important; bottom: auto !important; }
.popup__date .form-control-feedback { line-height: 20px; width: 20px; height: 20px; }
.popup__date .js-select { cursor: pointer; width: 100px !important; text-align: left; }
.popup__date .select { margin-bottom: 10px; margin-right: 10px; height: 60px; width: 65px; padding: 0; text-align: center; }
.popup__date .select i { right: -35px; }
.popup .popup__input-lil { width: 65px; padding: 18px 10px; text-align: center; }
.popup .popup__input-time { width: 95px; padding: 18px 10px; text-align: center; }
.popup .form-in__label { display: inline-block; width: auto; vertical-align: middle; margin: 0; }
.popup .js-footer { display: none; }

.modal-backdrop { background: #e78c41; }
.modal-backdrop.in { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69); opacity: 0.69; }

.modal-body { padding: 22px 22px 0 22px; }

.modal-footer { padding: 22px 22px 0 22px; }
