.out
	height: 100%
	min-width: 320px 
.green-filter
	&:before
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/green-overlay.png)
.purple-filter
	&:before
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/purple-overlay.png)
.section
	height: 100%
	min-height: 800px
	position: relative
	+box
	+r(1024)
		height: auto
		padding-top: 20px
		padding-bottom: 20px 
		min-height: 0px
	&__inner
		width: 100%
		margin: 0 auto
		text-align: center
	p
		+fs(18.75)
		letter-spacing: 0.15em
		color: #fff  
		+reg
		max-width: 600px
		margin: 0 auto 20px
	h4
		+georgia
		font-style: italic
		+fs(18.75)
		letter-spacing: 0.15em
		color: #fff
		margin-bottom: 25px  
	&-second
		background: #f3c918
		height: 100%
		+r(1024)
			height: auto
			min-height: 0px
	&-third
		background: #f06461
		height: 100%
		+r(1024)
			height: auto
			min-height: 0px
	&-fourth
		background: url(../img/section-fourth.jpg) no-repeat
		+cover
		height: 100% 
		+r(1024)
			height: auto
			min-height: 0px
	&-fifth
		background: #fff
		height: 100%
		+r(1024)
			height: auto
	&-signin
		background: #c24f9c
		height: auto
		padding: 90px 15px 90px 15px 
		h1
			+fs(64)
			+georgia
			color: #fff
			letter-spacing: 0.15em
			font-style: italic
			margin-bottom: 15px
			+r(1024)
				+fs(40)
		p
			+fs(31.25)
			color: #fff
			letter-spacing: 0.05em  
			max-width: 100%
			+fs(24)
	&-first
		background: url(../img/section-first.jpg) no-repeat 
		+cover
		padding: 12px 15px 12px 15px
		&:before
			content: "" 
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: url(../img/green-overlay.png)
		h1
			+fs(30)
			+georgia
			font-style: italic
			letter-spacing: 0.15em
			color: #FFF
			margin-bottom: 35px
		.section__inner
			padding-top: 40px
	&-login
		padding: 12px 15px 30px 15px
		height: auto
		min-height: 100%
.lang
	+vertical
	width: 132px
	height: 58px
	background: #fff
	position: absolute
	bottom: 315px
	left: 0
	z-index: 99
	+r(1024)
		display: inline-block
		position: relative
		bottom: auto
		left: auto
		margin-top: 20px
	ul
		display: inline-block
		vertical-align: middle
	li
		display: inline-block
		padding: 0 12px
	a
		+fs(17)
		letter-spacing: 0.15em
		color: #01a69e
		+reg
		display: inline-block
		vertical-align: middle
		+ttu
		&:hover
			text-decoration: underline
	&:after
		content: "" 
		position: absolute
		top: 50%
		left: 50%
		margin-top: -8px
		margin-left: -1px
		height: 17px
		width: 1px
		background: #01a69e
.login
	float: right
	+clr
	width: 100%
	max-width: 380px 
	text-align: center
	.button
		display: block
		margin-bottom: 20px
	&__forgot
		+fs(12.53)
		+bold
		color: #fff
		letter-spacing: 0.15em
		display: inline-block
		margin-top: 5px 
		&:hover
			border-bottom: 1px solid #fff 
	&__input
		position: relative
		display: block
		margin-bottom: 20px
		i
			display: block
			position: absolute
			top: 50%
		input
			width: 100%
			+box
			padding: 18px 18px 18px 60px
			+fs(16.25)
			letter-spacing: 0.15em
			+reg
			color: #fff
			background: none
			border: 2px solid #fff
			+placeholder-color(#fff)
	&__username
		i
			left: 10px 
			margin-top: -19px
			+s(person)
	&__password
		i
			left: 12px 
			margin-top: -20px
			+s(lock)


.logo
	margin-bottom: 30px
	display: inline-block
	width: 100%
	max-width: 382px
	img
		width: 100%
.line-white
	display: inline-block
	width: 53px
	height: 7px
	+border-radius(4px)
	background: #fff 
	margin-bottom: 35px

.more
	+georgia
	font-style: italic
	color: #fff
	+fs(18.75)
	letter-spacing: 0.15em
	text-align: center
	display: inline-block
	margin-top: 50px
	span
		display: inline-block
		margin-bottom: 55px
	.arr-bot
		+s(arr-more)
		display: block
		margin: 0 auto
.vertical
	+vertical
	height: 100%
.middle
	display: inline-block
	width: 100%
	vertical-align: middle
	float: none
.top-nav
	padding: 10px 15px 13px 15px
	background: #fff 
	text-align: justify
	+fs(0.1)
	word-spacing: 0px
	&:after
		content: ""
		width: 100%
		display: inline-block
	+r(768)
		text-align: center
	.button
		display: inline-block
		vertical-align: middle
		+r(768)
			display: block
			margin: 0 auto 20px 
.k-logo
	display: inline-block
	vertical-align: middle
	margin-top: 3px
.icons-block
	max-width: 640px
	float: none
	margin: 0 auto
.icons
	height: 200px
	+vertical
	a
		display: inline-block
		vertical-align: middle
	i
		display: inline-block
.tweet
	i
		+s(tweet)
.database
	i
		+s(database)
.tasks
	i
		+s(tasks)
.email
	i
		+s(email)
.mouse
	i
		+s(mouse)
.cal
	i
		+s(cal)	
.social
	i
		+s(social)
.mouse-small
	i
		+s(mouse-small)
.tasks-small
	i
		+s(tasks-small)
.cloud
	i
		+s(cloud)
.email-small
	i
		+s(email-small)
.cal-small
	i
		+s(cal-small)		
.info
	padding: 30px 0 0 0 

.contacts
	max-width: 800px
	margin: 0 auto
	&__item
		text-align: center
		margin-bottom: 90px
	&__icon
		height: 90px
		+vertical
		margin-bottom: 30px
		a
			display: inline-block
			vertical-align: middle
	&__email
		+s(contacts-email)
	&__map
		+s(contacts-map)
	&__call
		+s(contacts-call)
	&__title
		+fs(18.75)
		+reg
		letter-spacing: 0.15em
		color: #bbbdbf
		display: inline-block

.footer
	&__inner
		padding: 17px 15px 33px 15px 
		text-align: justify
		+fs(0.1)
		word-spacing: 0px
		&:after
			content: ""
			width: 100%
			display: inline-block
	&__left
		display: inline-block
		vertical-align: middle
	&__copyright
		display: inline-block
		vertical-align: middle
		+s(copyright)
		+r(480)
			display: block
			margin: 20px 0 0 0
	&__nav
		+vertical
		.share
			+s(share)
			display: block
		li
			display: inline-block
			vertical-align: middle
			margin-right: 30px
		a
			+fs(16.25)
			letter-spacing: 0.15em
			+reg
			color: #bbbdbf
			&:hover
				text-decoration: underline





.form-in
	width: 100%
	float: none
	margin: 70px auto 0
	max-width: 1400px
	&__inner
		background: #fff
		text-align: justify
		+fs(0.1)
		word-spacing: 0px
		padding: 5%
		&:after
			content: ""
			width: 100%
			display: inline-block
		+r(1024)
			text-align: center
			padding: 30px 20px 30px
	&__title
		+fs(20.89)
		+reg
		letter-spacing: 0.15em
		color: #c24f9c
		+ttu
		margin-bottom: 15px
		display: block
		text-align: left
	&__label
		display: inline-block
		width: 47%
		max-width: 600px
		text-align: left
		margin-bottom: 30px
		vertical-align: top
		+r(1024)
			width: 100%
		input
			width: 100%
			+box
			padding: 20px
			+fs(20.89)
			color: #000
			+reg
			letter-spacing: 0.15em
			border: 1px solid #bbbdbf 
			+r(480)
				padding: 10px 
	.button
		float: right
		margin-top: 10px
		span
			+fs(20.89)
			padding: 20px
			+r(480)
				padding: 15px




//board
.navigation
	position: absolute
	top: 0
	left: 0
	right: 0
	height: 132px
	&__left
		background: #a5496f
		padding: 45px 15px 42px 15px 
		text-align: justify
		+fs(0.1)
		word-spacing: 0px
		&:after
			content: ""
			width: 100%
			display: inline-block
	&__title
		+georgia
		font-style: italic
		color: #fff
		+fs(27.08)
		letter-spacing: 0.15em
		display: inline-block
		vertical-align: middle
		padding: 0 0 0 15px
	&__button
		+s(navigation-btn)
		display: inline-block
		vertical-align: middle
		margin: 0 30px 0 0 
		position: relative
		&:active
			top: 1px
	&__search
		height: 132px
		+vertical
		text-align: left
		position: relative
		padding-left: 30px
	.search__icon
		+s(search-icon)
		display: inline-block
		vertical-align: middle
		position: absolute
		top: 50%
		left: 30px
		margin-top: -30px
	.search__input
		display: inline-block
		vertical-align: middle
		padding: 20px 20px 10px 100px
		position: relative
		width: 100%
		+box
		+fs(29.54)
		+reg
		letter-spacing: 0.075em  
		+placeholder-color(rgba(187, 189, 191, 0.5))
		background: none
		// background-image: url(../img/icons/search-icon.png) left center no-repeat 
	&__logo
		text-align: right
		a
			margin-right: 30px
			margin-top: 37px 
			display: inline-block
			width: 100%
			max-width: 268px
			img
				width: 100%
.board
	height: 100%
	padding: 132px 15px 138px 15px



















































































































































































