.out
	height: 100%
	min-width: 320px 
	&.page-in
		min-height: 825px
		position: relative
		+r(1200)
			height: auto
	&.sign-p
		min-height: 100%
		height: auto
		position: relative
		background: #c24f9c
		+r(1200)
			height: auto
	&.in-p
		min-height: 100%
		height: auto
		position: relative
.green-filter
	&:before
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/green-overlay.png)
.purple-filter
	height: 100%
	+r(1024)
		height: auto
		min-height: 0px
	&:before
		content: "" 
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url(../img/purple-overlay.png)
.section
	height: 100%
	min-height: 800px
	position: relative
	+box
	+r(1024)
		height: auto
		padding-top: 20px
		padding-bottom: 20px 
		min-height: 0px
	&__inner
		width: 100%
		margin: 0 auto
		text-align: center
	p
		+fs(18.75)
		letter-spacing: 0.15em
		color: #fff  
		+reg
		max-width: 600px
		margin: 0 auto 20px
	h4
		+georgia
		font-style: italic
		+fs(18.75)
		letter-spacing: 0.15em
		color: #fff
		margin-bottom: 25px  
	&-second
		background: #f3c918
		height: 100%
		+r(1024)
			height: auto
			min-height: 0px
	&-third
		background: #f06461
		height: 100%
		+r(1024)
			height: auto
			min-height: 0px
	&-fourth
		background: url(../img/section-fourth.jpg) no-repeat
		+cover
		height: 100% 
		+r(1024)
			height: auto
			min-height: 0px
	&-fifth
		background: #fff
		height: 100%
		+r(1024)
			height: auto
	&-signin
		background: #c24f9c
		height: auto
		padding: 90px 15px 180px 15px 
		+box
		h1
			+fs(64)
			+georgia
			color: #fff
			letter-spacing: 0.15em
			font-style: italic
			margin-bottom: 15px
			+r(1024)
				+fs(40)
		p
			+fs(31.25)
			color: #fff
			letter-spacing: 0.05em  
			max-width: 100%
			+fs(24)
	&-first
		background: url(../img/section-first.jpg) no-repeat 
		+cover
		padding: 12px 15px 12px 15px
		&:before
			content: "" 
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: url(../img/green-overlay.png)
		h1
			+fs(30)
			+georgia
			font-style: italic
			letter-spacing: 0.15em
			color: #FFF
			margin-bottom: 35px
		.section__inner
			padding-top: 40px
	&-login
		padding: 12px 15px 30px 15px
		height: auto
		min-height: 100%
.lang
	+vertical
	width: 132px
	height: 58px
	background: #fff
	position: absolute
	bottom: 315px
	left: 0
	z-index: 99
	+r(1024)
		display: inline-block
		position: relative
		bottom: auto
		left: auto
		margin-top: 20px
	ul
		display: inline-block
		vertical-align: middle
	li
		display: inline-block
		padding: 0 12px
	a
		+fs(17)
		letter-spacing: 0.15em
		color: #01a69e
		+reg
		display: inline-block
		vertical-align: middle
		+ttu
		&:hover
			text-decoration: underline
	&:after
		content: "" 
		position: absolute
		top: 50%
		left: 50%
		margin-top: -8px
		margin-left: -1px
		height: 17px
		width: 1px
		background: #01a69e
.login
	float: right
	+clr
	width: 100%
	max-width: 380px 
	text-align: center
	.button
		display: block
		margin-bottom: 20px
	&__forgot
		+fs(12.53)
		+bold
		color: #fff
		letter-spacing: 0.15em
		display: inline-block
		margin-top: 5px 
		background: none
		&:hover
			text-decoration: underline
			color: #fff  
	&__input
		position: relative
		display: block
		margin-bottom: 20px
		.log-ico
			display: block
			position: absolute
			top: 50%
		input
			width: 100%
			padding: 18px 18px 18px 60px
			height: auto !important
			+border-radius(0px)
			color: #fff
			background: none
			border: 2px solid #fff
			+placeholder-color(#fff)
		.glyphicon
			top: 50% !important 
			margin-top: -17px
			+fs(30)
			right: 10px
		small
			height: 0 !important
			display: none !important
	&__username
		.log-ico
			left: 10px 
			margin-top: -19px
			+s(person)
	&__password
		.log-ico
			left: 12px 
			margin-top: -20px
			+s(lock)


.logo
	margin-bottom: 30px
	display: inline-block
	width: 100%
	max-width: 382px
	img
		width: 100%
.line-white
	display: inline-block
	width: 53px
	height: 7px
	+border-radius(4px)
	background: #fff 
	margin-bottom: 35px

.more
	+georgia
	font-style: italic
	color: #fff
	+fs(18.75)
	letter-spacing: 0.15em
	text-align: center
	display: inline-block
	margin-top: 50px
	span
		display: inline-block
		margin-bottom: 55px
	.arr-bot
		+s(arr-more)
		display: block
		margin: 0 auto
	&:hover
		color: #fff
		text-decoration: none
	&:visited
		color: #fff 
.vertical
	+vertical
	height: 100%
.middle
	display: inline-block
	width: 100%
	vertical-align: middle
	float: none
.top-nav
	padding: 10px 15px 13px 15px
	background: #fff 
	text-align: justify
	+fs(0.1)
	word-spacing: 0px
	&:after
		content: ""
		width: 100%
		display: inline-block
	+r(768)
		text-align: center
	.button
		display: inline-block
		vertical-align: middle
		+r(768)
			display: block
			margin: 0 auto 20px 
.k-logo
	display: inline-block
	vertical-align: middle
	margin-top: 3px
.icons-block
	max-width: 640px
	float: none
	margin: 0 auto
.icons
	height: 200px
	+vertical
	a
		display: inline-block
		vertical-align: middle
	i
		display: inline-block
.tweet
	i
		+s(tweet)
.database
	i
		+s(database)
.tasks
	i
		+s(tasks)
.email
	i
		+s(email)
.mouse
	i
		+s(mouse)
.cal
	i
		+s(cal)	
.social
	i
		+s(social)
.mouse-small
	i
		+s(mouse-small)
.tasks-small
	i
		+s(tasks-small)
.cloud
	i
		+s(cloud)
.email-small
	i
		+s(email-small)
.cal-small
	i
		+s(cal-small)		
.info
	padding: 30px 0 0 0 

.contacts
	max-width: 800px
	margin: 0 auto
	&__item
		text-align: center
		margin-bottom: 90px
	&__icon
		height: 90px
		+vertical
		margin-bottom: 30px
		a
			display: inline-block
			vertical-align: middle
	&__email
		+s(contacts-email)
	&__map
		+s(contacts-map)
	&__call
		+s(contacts-call)
	&__title
		+fs(18.75)
		+reg
		letter-spacing: 0.15em
		color: #bbbdbf
		display: inline-block

.footer
	&-absolute
		position: absolute
		bottom: 0
		right: 0
		left: 0
		+r(1200)
			position: static
			bottom: auto
			left: auto
			right: auto
	&__inner
		padding: 17px 15px 33px 15px 
		text-align: justify
		+fs(0.1)
		word-spacing: 0px
		background: #fff 
		&:after
			content: ""
			width: 100%
			display: inline-block
	&__left
		display: inline-block
		vertical-align: middle
	&__copyright
		display: inline-block
		vertical-align: middle
		+s(copyright)
		+r(480)
			display: block
			margin: 20px 0 0 0
	&__nav
		+vertical
		.share
			+s(share)
			display: block
		li
			display: inline-block
			vertical-align: middle
			margin-right: 30px
		a
			+fs(16.25)
			letter-spacing: 0.15em
			+reg
			color: #bbbdbf
			&:hover
				text-decoration: underline





.form-in
	width: 85%
	float: none
	margin: 70px auto 0
	max-width: 1400px
	+r(600)
		width: 100%
	form 
		position: relative
		&:before
			content: "" 
			position: absolute
			top: 7px
			left: 6px
			right: -6px
			bottom: -7px
			background: #bbbdbf
	&__inner
		background: #fff
		text-align: justify
		+fs(0.1)
		word-spacing: 0px
		padding: 5%
		position: relative
		&:after
			content: ""
			width: 100%
			display: inline-block
		+r(1024)
			text-align: center
			padding: 10%
		+r(600)
			padding: 20px 30px 
	&__title
		+fs(20.89)
		+reg
		letter-spacing: 0.15em
		color: #c24f9c
		+ttu
		margin-bottom: 15px
		display: block
		text-align: left
	&__label
		display: inline-block
		width: 45%
		max-width: 600px
		text-align: left
		margin-bottom: 30px
		vertical-align: top
		+r(1024)
			width: 100%
		input
			width: 100%
			+box
			padding: 15px
			+fs(20.89)
			color: #000
			+reg
			letter-spacing: 0.15em
			border: 1px solid #bbbdbf 
			height: auto !important
			+border-radius(0px)
			+r(480)
				padding: 10px 
		.glyphicon
			+fs(30)
			top: auto !important
			bottom: 15px !important
			right: 10px
			+r(480)
				bottom: 10px !important
		small
			height: 0 !important
			display: none !important
	.button
		float: right
		margin-top: 10px
		span
			+fs(20.89)
			padding: 20px
			+r(480)
				padding: 15px




//board
.navigation
	position: absolute
	top: 0
	left: 0
	right: 0
	min-height: 60px
	+r(1200)
		position: static
		top: auto
		left: auto
		right: auto
	&__left
		background: #a5496f
		padding: 10px 15px 10px 15px 
		height: 57px
		+box
		+fs(0.1)
		word-spacing: 0px
		+tr(background 0.5s)
		text-align: justify
		&_mod
			background: #c24f9c
			.navigation__title
				+fs(16.25)
				padding: 7px 0 0 15px
			.navigation__button
				margin: 7px 30px 0 0 
		&.is-active
			background: #efefef
			.navigation__title
				color: #c24f9c 
		&:after
			content: ""
			width: 100%
			height: 1px
			display: inline-block
		+r(600)
			height: auto
			padding: 20px 15px 20px 15px 
	&__title
		+georgia
		font-style: italic
		color: #fff
		+fs(27.08)
		letter-spacing: 0.15em
		display: inline-block
		vertical-align: middle
		padding: 0 0 0 15px
		+tr(color 0.5s)
		+r(600)
			+fs(20)
			padding: 0
	&__button
		+s(navigation-btn)
		display: inline-block
		vertical-align: middle
		margin: 0 30px 0 0 
		position: relative
		+r(600)
			background: url(../img/icons/navigation-btn.png) no-repeat
			+cover
			background-position: top center
			width: 37px
			height: 30px 
			margin: 0
		&:active
			top: 1px
		&.is-active
			+s(navigation-btn-active)
			+r(600)
				background: url(../img/icons/navigation-btn-active.png) no-repeat
				+cover
				background-position: top center 
				width: 37px
				height: 30px 
	&__search
		+vertical
		text-align: left
		position: relative
		padding-left: 30px
		height: 57px
		+r(600)
			padding: 15px 15px 15px 
			height: auto
	.search__icon
		position: absolute
		top: 50%
		left: 30px
		margin-top: -20px
		+s(search)
		+r(600)
			left: 15px
	.search__input
		display: inline-block
		vertical-align: middle
		position: relative
		width: 100%
		+box
		+reg
		border: none
		letter-spacing: 0.075em  
		+placeholder-color(rgba(187, 189, 191, 0.5))
		background: none
		+fs(18)
		padding: 10px 15px 10px 50px 
		+r(480)
			+fs(16)
	&__logo
		+vertical
		text-align: right
		height: 57px
		+r(600)
			height: auto
		a
			margin-right: 30px
			margin-top: 7px 
			margin-bottom: 7px
			display: inline-block
			vertical-align: middle
			width: 100%
			max-width: 200px
			img
				width: 100%
			+r(600)
				margin: 15px 15px 15px 
.board
	height: 100%
	padding: 57px 15px 95px 15px
	min-height: 825px
	+r(1200)
		min-height: 0
		padding: 0 15px 0 15px  
	&__inner
		height: 100%
	&__item
		height: 100%
		+vertical
		min-height: 600px
		+r(1200)
			height: 470px
			padding-top: 30px
			padding-bottom: 30px
		&.is-mail
			background: #b576a5
		&.is-tasks
			background: #b2678a
		&.is-datacenter
			background: #d1695e
		&.is-calendar
			background: #ea9d4f
		&.is-social
			background: #ecbe55
		&.is-virtual
			background: #e5b944
		&.is-mail_pounch
			background: #5bbd82
		&.is-tasks_pounch
			background: #86c884
		&.is-datacenter_pounch
			background: #6ac3a3
		&.is-calendar_pounch
			background: #58c1b5
		&.is-social_pounch
			background: #2096a3
		&.is-virtual_pounch
			background: #245477
	&__info
		display: inline-block
		vertical-align: middle 
		height: 470px
		width: 100%
		overflow: hidden
		+r(1200)
			height: auto
	&__icon
		max-width: 295px
		+border-radius(50%)
		position: relative
		width: 80%
		margin: 0 auto 90px
		padding-top: 20px
		img
			width: 100%
	&__sticker
		position: absolute
		top: 0px
		right: 3px
		width: 80px
		height: 80px
		background: #f06461 
		+border-radius(50%)
		+vertical
		display: none
		+r(1600)
			width: 60px
			height: 60px
		+r(1200)
			width: 80px
			height: 80px
		&.is-active
			display: block
		span
			+fs(43.75)
			+reg
			color: #fff 
			display: inline-block
			vertical-align: middle
			+r(1600)
				+fs(36)
			+r(1200)
				+fs(43.75)
	&__title
		+fs(22)
		+reg
		color: #fff
		letter-spacing: 0.15em 
		+ttu
		height: 70px
		+r(1200)
			+fs(18)
		+r(768)
			+fs(26)
	&__text
		+fs(20)
		+georgia
		font-style: italic
		letter-spacing: 0.15em
		color: #fff  
		overflow: hidden
		width: 100%
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis
		+r(1200)
			+fs(16)
		+r(768)
			+fs(24)

.dropdown
	position: absolute
	left: 0
	top: 100%
	right: 0
	z-index: 999
	visibility: hidden
	+opacity(0)
	+tr(opacity 0.5s)
	&.is-open
		visibility: visible
		+opacity(1)
	li
		a
			display: block
			background: #efefef
			margin-top: 2px
			+vertical
			padding: 10px 25px 10px 30px
			text-align: left
			i
				display: inline-block
				vertical-align: middle
				width: 47px
				height: 47px
				+border-radius(50%)
				margin-right: 20px
				+r(600)
					width: 40px
					height: 40px
				&.is-virtual
					background: url(../img/icons/dd-mouse.png) no-repeat
					+cover
				&.is-cal
					background: url(../img/icons/dd-cal.png) no-repeat
					+cover
				&.is-datacenter
					background: url(../img/icons/dd-cloud.png) no-repeat
					+cover
				&.is-mail
					background: url(../img/icons/dd-mail.png) no-repeat
					+cover
				&.is-tasks
					background: url(../img/icons/dd-tasks.png) no-repeat
					+cover
				&.is-social
					background: url(../img/icons/dd-social.png) no-repeat
					+cover
				&.is-settings
					background: url(../img/icons/dd-settings.png) no-repeat
					+cover
			span
				display: inline-block
				vertical-align: middle
				+fs(14)
				+georgia
				font-style: italic
				letter-spacing: 0.15em
				color: #404041 
	&__back
		background: #efefef
		padding: 20px 25px 25px 30px
		margin-top: 3px
		text-align: right
		a
			+vertical
			.arr-back
				display: inline-block
				vertical-align: middle
				width: 27px
				height: 27px
				background: url(../img/icons/dd-arr.png) no-repeat
				+cover
				margin-left: 15px
			span
				display: inline-block
				vertical-align: middle
				+fs(14)
				+georgia
				font-style: italic
				color: #f06461 


//account
.sidebar
	+r(768)
		padding-bottom: 50px
	&__menu
		margin-bottom: 25px
		li
			padding-top: 2px
			a
				display: block
				padding: 0px 20px 0px 20px
				height: 67px
				+vertical
				text-align: left
				&.is-active
					background: #f2f3f3 
					span
						color: #404041
						text-transform: none
						+georgia
						font-style: italic
					&:hover
						background: #f2f3f3 
	&__text
		+ttu
		+reg
		+fs(16.25)
		letter-spacing: 0.15em
		color: #ffffff 
		display: inline-block
		vertical-align: middle
	&__menu_mod
		li
			.sidebar__text
				text-transform: none
	&__icon
		display: inline-block
		vertical-align: middle
		width: 52px
		margin-right: 20px
		+vertical
		&.is-active
			width: 47px
			height: 47px
			+border-radius(50%)
			margin-right: 25px
		&.is-acc
			background: #c24f9c
		&.is-soc
			background: #e78c41
		&.is-cal
			background: #f06461
		&.is-tasks
			background: #00a6cb 
		i
			display: inline-block
			vertical-align: middle
			&.is-prof
				+s(is-prof)
			&.is-edit
				+s(is-edit)
			&.is-avatar
				+s(is-avatar)
			&.is-customize
				+s(is-customize)
			&.is-friends
				+s(is-friends)
			&.is-settings
				+s(is-settings)
			&.is-network
				+s(is-network)
			&.is-stream
				+s(is-stream)
			&.is-sync
				+s(is-sync)
			&.is-set
				+s(is-set)
			&.is-post
				+s(is-post)
			&.is-edit-ac
				margin-left: 8px
				+s(is-edit-ac)
			&.is-calendar
				+s(is-calendar)
			&.is-ical
				+s(is-ical)
			&.is-calset
				+s(is-calset)
			&.is-addcat
				+s(is-addcat)
			&.is-tasks
				+s(is-tasks)
		&:hover
			text-decoration: none
	&__title, &__label
		+fs(16.25)
		letter-spacing: 0.15em
		+reg
		color: #bbbdbf
		display: block
		padding: 0 18px 0 18px 
		margin-bottom: 20px
		+ttu
	&__row
		border-top: 1px solid #bbbdbf 
	&__box
		border: 1px solid #bbbdbf
		border-top: none
		+vertical
		text-align: left
		height: 84px
		&_mod
			border: none
			background: #f1f2f2 
	&__label
		line-height: 45px
		padding: 0
		margin: 0
		display: inline-block
		text-transform: none
		vertical-align: middle
	.colors
		+fs(0)
		padding: 0 24px 0 20px
		display: inline-block
		vertical-align: middle
		li
			display: inline-block
			padding: 4px
		a
			display: block
			width: 20px
			height: 20px
			+border-radius(50%)
			&.is-one
				background: #6ac3a3 
			&.is-two
				background: #58c1b5 
			&.is-three
				background: #2096a3 
			&.is-four
				background: #245477 
			&.is-five
				background: #e5b944 
			&.is-six
				background: #ea9d4f 
			&.is-seven
				background: #d1695e 
			&.is-eight
				background: #b576a5 
			&.is-nine
				background: #f06461 
			&.is-ten
				background: #c24f9c 
			&.is-eleven
				background: #00a6cb 
			&.is-twelve
				background: #01a69e 
.content
	+r(768)
		padding-bottom: 50px
	form
		padding: 0 4% 0 6%
		width: 100%
	&__form
		text-align: justify
		+fs(0.1)
		padding-top: 67px
		+r(768)
			padding-top: 0
		&:after
			content: "" 
			display: inline-block
			width: 100%
		.form-group
			display: inline-block
			vertical-align: top
			width: 46%
			margin-bottom: 50px
			+r(1200)
				width: 100%
				display: block
				margin: 0 auto 50px
	.form-in__title
		+fs(12.53)
		margin-bottom: 20px
	&__button
		+vertical
		text-align: right
		i
			display: inline-block
			vertical-align: middle
			+s(save)
		button
			display: inline-block
			vertical-align: middle
			margin-left: 13px
			max-width: 193px
.is-account
	.sidebar__menu
		a
			background: #c24f9c 
			&:hover
				background: #ce72b0 
.is-social
	.sidebar__menu
		a
			background: #e78c41 
			&:hover
				background: #eca367 
.is-calendar
	.sidebar__menu
		a
			background: #f06461 
			&:hover
				background: #f38381 
.is-tasks
	.sidebar__menu
		a
			background: #00a6cb 
			&:hover
				background: #33b8d5 




//mysocial
.box
	margin-bottom: 50px
	position: relative
	padding-top: 5px
	&-wrap
		padding-top: 67px
		+r(768)
			padding-top: 0
	&__top
		border-bottom: 1px solid #a0a1a3 
		padding-right: 40px
		padding-bottom: 17px
		margin-bottom: 35px
	&__title
		+fs(16.25)
		+reg
		color: #58595b
		letter-spacing: 0.15em  
		+ttu
	&__button
		position: absolute
		top: 0
		right: 0
		cursor: pointer
		z-index: 99
		&.is-close
			+s(box-open)
		&.is-open
			+s(box-close)
	&__social
		+fs(0)
		li
			display: inline-block
			padding-right: 4px
			padding-bottom: 4px
			vertical-align: top
		a
			display: block
			+vertical 
		span
			display: inline-block
		.is-twitter
			+s(box-twitter)
		.is-facebook
			+s(box-facebook)
		.is-google
			+s(box-google)
		.is-linkedin
			+s(box-linkedin)
	&__accounts
		+fs(0)
		li
			display: inline-block
			vertical-align: top
			padding-right: 4px
			padding-bottom: 4px
			a
				display: block
				+vertical
				background: #e78c41
				padding: 20px 10px
				height: 80px
				position: relative
				&.is-grey
					background: #bbbdbf 
			span
				display: inline-block
				vertical-align: middle
				+fs(16.44)
				+reg
				letter-spacing: 0.15em 
				color: #FFF 
			.box__icon
				display: inline-block
				vertical-align: middle
				margin-right: 10px
				&.is-twitter
					+s(box-tw)
				&.is-fb
					+s(box-fb)
				&.is-vimeo
					+s(box-vimeo)
			.is-close
				position: absolute
				top: 8px
				right: 8px
				+s(box-close-icon)
				cursor: pointer
	&-open
		.box__title
			color: #e78c41



.items
	&__top
		margin: 0 35px 30px 35px
		+fs(0)
		+r(480)
			margin: 0 0 30px
	&__title, a
		display: inline-block
		vertical-align: top
		color: #58595b
		+reg
		+fs(16.25)
		letter-spacing: 0.15em
	&__title
		margin-right: 50px
		margin-bottom: 15px
		+r(768)
			margin-right: 20px
	&__list
		display: inline-block
		li
			display: inline-block
			padding: 0 18px
			+r(768)
				padding: 0 30px 0 0
		a
			color: #e78c41
			padding: 0 3px 13px 3px 
			display: block
			&:hover
				text-decoration: none
			&.is-active
				border-bottom: 3px solid #e78c41
.item
	position: relative
	background: #fff 
	&-wrap
		margin: 0 5% 14% 5%
		+r(480)
			margin: 0 0 30px 0  
		position: relative
		&:before
			position: absolute
			top: 3px
			left: 5px
			right: -5px
			bottom: -6px
			content: "" 
			background: #bbbdbf 
	&__inner
		padding: 38px 36px 38px 32px
		border: 1px solid #f1f1f2
		border-bottom: none 
	p
		+fs(17.78)
		line-height: 28.73px
		letter-spacing: 0.15em 
		color: #808184
		+reg
		strong
			+bold
			font-weight: normal
	&__link
		display: block
	&__bottom
		padding: 22px 30px 22px 26px 
		&.is-azure
			background: #2aa9e0 
		&.is-red
			background: #db5442 
		&.is-blue
			background: #36609f 
	&__left
		padding-right: 120px
		+vertical
		text-align: left
	&__right
		float: right
		height: 42px
		+vertical
	&__name
		+georgia
		+fs(16.25)
		font-style: italic
		letter-spacing: 0.15em 
		color: #fff
		display: inline-block
		vertical-align: middle
	&__date
		+reg
		+fs(17.78)
		letter-spacing: 0.15em 
		color: #fff
		display: inline-block
		vertical-align: middle
	&__icon
		display: inline-block
		vertical-align: middle
		width: 70px
		+vertical
		text-align: left
		height: 42px
		i
			display: inline-block
			vertical-align: middle
			&.item__twitter
				+s(item-twitter)
			&.item__fb
				+s(item-fb)
			&.item__google
				+s(item-google)
	&__img
		margin-bottom: 30px
		overflow: hidden
		img
			width: 100%




.overlay
	background: #e78c41
	+opacity(0.69)
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0  
	z-index: 999
	display: none
	&.is-open
		display: block
.js-popups
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0  
	z-index: 1050
	+vertical
	overflow: auto
	min-width: 320px
	display: none
	&.is-open
		display: block
.modal-lg
	max-width: 725px
	border: none
.popup
	max-width: 725px
	border: none
	width: 100%
	+border-radius(0px !important)
	&.is-open
		display: inline-block
	.close
		+opacity(1)
		position: absolute
		top: 20px
		right: 20px
		width: 39px
		height: 39px
	&__close
		width: 39px
		height: 39px
		display: inline-block
		border: 2px solid #fff
		+border-radius(50%)
		+vertical
		cursor: pointer
		i
			display: inline-block
			vertical-align: middle
			+s(box-close-icon)
	&__top
		background: #e78c41
		height: 79px
		+vertical
		text-align: left
		padding: 0 65px 0 24px 
	&__heading, &__title
		display: inline-block
		vertical-align: middle
		+fs(16.25)
		+reg
		letter-spacing: 0.15em 
		color: #fff
	&__title
		margin-bottom: 25px
		display: block
		color: #e78c41  
		text-align: left
	&__inner
		padding: 22px 22px 0 22px
		text-align: left
	&__list
		+fs(0)
		text-align: center
		margin-bottom: 20px
		padding-top: 20px
		li
			display: inline-block
			vertical-align: top
			padding: 2px
		a
			display: block
			margin: 0 auto
			&.popup-twitter
				+s(box-twitter)
			&.popup-facebook
				+s(box-facebook)
			&.popup-google
				+s(box-google)
			&.popup-linkedin
				+s(box-linkedin)
	.select
		max-width: 340px
		margin: 0 auto 25px
		height: 58px
		i
			+s(popup-arr-top)
			top: 12px
			right: 14px
			&:after
				+s(popup-arr-bot)
				margin-top: 14px
		&__text
			color: #58595b
			+fs(16.25)
			+reg
			letter-spacing: 0.15em 
			height: auto
		&__list
			li
				color: #58595b 
				+fs(16.25)
				+reg
				letter-spacing: 0.15em
				&:hover
					color: #fff
					background: #e78c41  
	&__bottom
		text-align: right
		padding-bottom: 22px
	&__button
		background: none !important
		color: #e78c41 !important
		+fs(16.25)
		+reg
		letter-spacing: 0.15em 
		margin-left: 25px !important
		border: none !important
		outline: none !important
		+box-shadow(none !important) 
		padding: 0
		&:hover
			text-decoration: underline
			background: none
			color: #e78c41 
		&_mod
			color: #bbbdbf !important
			&:hover
				color: #bbbdbf  
	textarea, input
		width: 100%
		padding: 18px 22px 
	textarea
		height: 110px
		resize: none
		margin-bottom: 20px
	input
		max-width: 295px
		display: inline-block
	&__links
		display: inline-block
	&__bottom_mod
		text-align: justify
		+fs(0.1)
		word-spacing: 0px
		&:after
			content: ""
			width: 100%
			display: inline-block
		input
			vertical-align: middle
			margin-bottom: 22px
		ul
			display: inline-block
			vertical-align: middle
			+vertical
			margin-bottom: 22px
		li
			display: inline-block
			vertical-align: middle
			padding: 0 13px
		i
			display: block
			&.is-geo
				+s(popup-geo)
			&.is-image
				+s(popup-image)
			&.is-calendar
				+s(popup-calendar)
			&.is-geo_grey
				+s(popup-geo-grey)
			&.is-image_grey
				+s(popup-image-grey)
	&__buttons
		display: inline-block
		vertical-align: middle
		margin-bottom: 22px
	&_left
		text-align: left
		input
			margin-right: 20px
	hr
		border-top: 1px solid #dddedf
		border-bottom: 1px solid #eeeeef
		border-left: none
		border-right: none
		width: 100%  
		margin: 0 
	&__date
		+vertical
		text-align: left
		padding-bottom: 15px
		div
			display: inline-block
			vertical-align: middle
			+vertical
			vertical-align: top
		label
			color: #58595b
			+fs(16.25)
			+reg
			letter-spacing: 0.15em 
			display: inline-block
			vertical-align: middle
			margin: 0 20px 10px 10px 
		input
			margin-right: 10px
			margin-bottom: 10px
			+fs(16.25)
			color: #58595b 
		.glyphicon
			+fs(20)
			top: 3px !important
			bottom: auto !important
		.form-control-feedback
			line-height: 20px
			width: 20px
			height: 20px
		.js-select
			cursor: pointer
			width: 100px !important
			text-align: left
		.select
			margin-bottom: 10px
			margin-right: 10px
			height: 60px
			width: 65px
			padding: 0
			text-align: center
			i
				right: -35px
	.popup__input-lil
		width: 65px 
		padding: 18px 10px
		text-align: center 
	.popup__input-time
		width: 95px 
		padding: 18px 10px
		text-align: center
	.form-in__label
		display: inline-block
		width: auto
		vertical-align: middle
		margin: 0
	.js-footer
		display: none
.modal-backdrop
	background: #e78c41 
	&.in
		+opacity(0.69)
.modal-body
	padding: 22px 22px 0 22px
.modal-footer
	padding: 22px 22px 0 22px



//calendar
.calendar-buttons
	position: absolute
	top: 3px
	left: 3px
	height: 65px
	+vertical
	padding: 0 10px
	button
		background: none
		border: none
		display: inline-block
		vertical-align: middle
		+vertical
		margin: 0 10px
		i
			display: inline-block
			vertical-align: middle
		span
			+fs(12.5)
			+reg
			letter-spacing: 0.15em 
			display: inline-block
			vertical-align: middle
			margin-left: 10px
.add-cal
	i
		+s(addcal)
		display: inline-block
.task-cal
	i
		+s(caltask)
	span
		color: #00a6cb 

//task
.task
	width: 90%
	margin: 0 auto 30px
	.is-complete
		.task__title
			color: #6d6e70 
	.is-incomplete
		.task__title
			color: #808184 
	+r(768)
		width: 100%
	&-wrap
		padding-top: 69px
	&__top
		+clr
		border-bottom: 1px solid #828384
		padding: 10px 3px 15px 5px 
	&__close
		+s(task-close)
		position: relative
		display: block
		float: left
		margin-right: 15px
	&__open
		+s(task-open)
		position: relative
		display: block
		float: left
		margin-right: 15px
	&__heading
		overflow: hidden
		+georgia
		font-style: italic
		+fs(16.25)
		color: #404041
		letter-spacing: 0.15em 
		display: block
		padding-top: 4px   
	&__buttons
		float: right
		+vertical
	&__button
		margin: 0 8px
		display: inline-block
		vertical-align: middle
	&__edit
		+s(task-edit)
	&__trash
		+s(task-trash)
	&__inner
		padding-top: 20px
	&__item
		+clr
		margin-bottom: 1px
	&__left
		float: left
		padding: 0 1px 0 0
	&__com
		display: block
		position: relative
		width: 74px
		height: 74px 
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin-top: -23px
			margin-left: -23px
		&:hover
			+opacity(0.9)
	&__complete
		background: #00a6cb
		&:before
			+s(task-complete)
	&__incomplete
		background: #bbbdbf
		&:before
			+s(task-incomplete)
	&__right
		background: #f2f3f3
		overflow: hidden
		padding: 0 17px 0 27px 
	&__vertical
		line-height: 74px
	&__title, &__calendar, &__links a
		display: inline-block
		+fs(16.25)
		+reg
		letter-spacing: 0.15em 
	&__title
		vertical-align: middle
		line-height: 1.2
		a
			color: #00a6cb 
	&__calendar
		padding: 5px 0 5px 41px
		position: relative
		color: #6D6E70 
		&:before
			content: ""
			+s(task-calendar)
			position: absolute
			top: 50%
			left: 0
			margin-top: -14px
	&__right_mod
		padding-top: 5px
		min-height: 74px
		padding-bottom: 10px
	&__links
		float: right
		+fs(0)
		li
			display: inline-block
			vertical-align: top
			padding: 0 0 5px 40px
		a
			color: #00a6cb
			border-bottom: 2px solid #00a6cb  
			+ttu
			padding-bottom: 5px
			display: inline
			line-height: 1.8
			text-decoration: none !important
			&:hover
				border-bottom: none
	&__bot
		clear: both
		text-align: right
		padding: 15px 25px
		a
			+reg
			+ttu
			+fs(16.25)
			color: #00A6CB 
			letter-spacing: 0.15em 
			text-decoration: none !important





































































































